<mat-sidenav-container class="h-100">

  <mat-sidenav #sidenav="matSidenav" mode="side" opened class="d-none w-25 d-md-block">
    <app-sidebar (closeSidebar)="sidenav.close()" />
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="d-md-none">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="ms-2">Layout Builder</span>
    </mat-toolbar>

    <div class="p-3 p-md-4 vh-100">
      <mat-tab-group animationDuration="0ms">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="me-2 text-primary">palette</mat-icon> Diseño
          </ng-template>
          <div class="pt-4">
            <app-layout-area />
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="me-2 text-warning">code</mat-icon> Código
          </ng-template>
          <div class="pt-4">
            <app-code-preview />
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>