<mat-sidenav-container class="h-100">

  <mat-sidenav #sidenav="matSidenav" mode="side" opened class="d-none d-md-block">
    <app-sidebar (closeSidebar)="sidenav.close()" />
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="d-md-none">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="ms-2">Layout Builder</span>
    </mat-toolbar>

    <div class="main-content">
      <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
          <button 
            class="nav-link" 
            [class.active]="currentView() === 'design'"
            (click)="switchView('design')">
            <i class="fas fa-palette me-2"></i>Diseño
          </button>
        </li>
        <li class="nav-item">
          <button 
            class="nav-link" 
            [class.active]="currentView() === 'code'"
            (click)="switchView('code')">
            <i class="fas fa-code me-2"></i>Código
          </button>
        </li>
      </ul>
      
      @if (currentView() === 'design') {
        <app-layout-area />
      } @else {
        <app-code-preview />
      }
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
